[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
ipykernel = "*"
pandas = "*"
matplotlib = "*"
install = "*"
seaborn = "*"
sklearn = "*"
torch = "*"
pillow = "*"
shap = "*"
mne = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
